@page
@model WineWarehouseManagementSystem.Pages.AccountPages.CreateStaffModel
@{
    Layout = "_ManagerLayout";
    int? accountId = HttpContext.Session.GetInt32("accountId");
    int? roleId = HttpContext.Session.GetInt32("roleId");
    if (accountId == null || roleId != 2)
    {
        TempData["ErrorMessage"] = "This function is for manager only";
        Response.Redirect("/Error");
    }
}


<form method="post" style="display: flex; flex-direction: column; gap: 15px; max-width: 400px; margin: 20px auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; background-color: white">
    <label asp-for="account.AccountName" style="font-weight: bold; margin-bottom: 5px;"></label>
    <input asp-for="account.AccountName" required oninput="this.value = this.value.replace(/\d/g, '')" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px;" />

    <label asp-for="account.Username" style="font-weight: bold; margin-bottom: 5px;"></label>
    <input asp-for="account.Username" required style="padding: 10px; border: 1px solid #ccc; border-radius: 4px;" />

    <label asp-for="account.UserPassword" style="font-weight: bold; margin-bottom: 5px;"></label>
    <input asp-for="account.UserPassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
           title="Password must be at least 8 characters long and contain both letters and digits." style="padding: 10px; border: 1px solid #ccc; border-radius: 4px;" />

    <button type="submit" style="padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">Create Staff Account</button>
</form>
@if (TempData["Message"] != null)
{
    <h4 style="text-align: center; color: red; font-size:14px">@TempData["Message"]</h4>
}

<form method="get" asp-page="/AccountPages/ViewAllStaff" style="text-align: center; margin-top: 20px;">
    <button type="submit" style="padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">View all Staffs</button>
</form>
