@page
@model WineWarehouseManagementSystem.Pages.AccountPages.ViewAllStaffModel
@{
    Layout = "_ManagerLayout";
    int? accountId = HttpContext.Session.GetInt32("accountId");
    int? roleId = HttpContext.Session.GetInt32("roleId");
    if (accountId == null || roleId != 2)
    {
        TempData["ErrorMessage"] = "This function is for manager only";
        Response.Redirect("/Error");
    }
}

@if (Model.accounts != null && Model.accounts.Any())
{
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px; text-align: left;background-color: white">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 12px; border: 1px solid #ddd;">Name</th>
                <th style="padding: 12px; border: 1px solid #ddd;">Username</th>
                <th style="padding: 12px; border: 1px solid #ddd;">Password</th>
                <th style="padding: 12px; border: 1px solid #ddd;">Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var acc in Model.accounts)
            {
                <tr>
                    <td style="padding: 12px; border: 1px solid #ddd;">@acc.AccountName</td>
                    <td style="padding: 12px; border: 1px solid #ddd;">@acc.Username</td>
                    <td style="padding: 12px; border: 1px solid #ddd;">@acc.UserPassword</td>
                    <td style="padding: 12px; border: 1px solid #ddd;">
                        <form method="get" asp-page="/AccountPages/UpdateStaff" style="display: inline;">
                            <input type="hidden" name="id" value="@acc.AccountId" />
                            <button type="submit" style="padding: 8px 12px; background-color: #007BFF; color: white; border: none; border-radius: 4px; cursor: pointer;">Update</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 style="text-align: center; color: #fff;">There is no valid staff account</h2>
}
