@page
@model WineWarehouseManagementSystem.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CheckingRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckingRequest.AccountId" class="control-label"></label>
                <select asp-for="CheckingRequest.AccountId" class ="form-control" asp-items="ViewBag.AccountId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CheckingRequest.ProductId" class="control-label"></label>
                <select asp-for="CheckingRequest.ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CheckingRequest.CheckDateRequest" class="control-label"></label>
                <input asp-for="CheckingRequest.CheckDateRequest" class="form-control" />
                <span asp-validation-for="CheckingRequest.CheckDateRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckingRequest.Reason" class="control-label"></label>
                <input asp-for="CheckingRequest.Reason" class="form-control" />
                <span asp-validation-for="CheckingRequest.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
