@page
@model WineWarehouseManagementSystem.Pages.ProductPages.CreateModel
@{
    Layout = "_ManagerLayout";
    int? accountId = HttpContext.Session.GetInt32("accountId");
    int? roleId = HttpContext.Session.GetInt32("roleId");
    if (accountId == null || roleId != 2)
    {
        TempData["ErrorMessage"] = "This function is for manager only";
        Response.Redirect("/Error");
    }
}
<h2 style="text-align: center;">Create Product</h2>

@if (TempData["CreateProduct"] != null) 
{     
    <h3 style="color: green; text-align: center;">@TempData["CreateProduct"]</h3> 
}

<div style="display: flex; justify-content: center;">
    <form method="post" style="width: 50%; max-width: 600px; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
        <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
            <label asp-for="Product.ProductName" class="form-label"></label>
            <input asp-for="Product.ProductName" class="form-control" />
        </div>

        <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
            <label asp-for="Product.ProductDescription" class="form-label"></label>
            <input asp-for="Product.ProductDescription" class="form-control" />
        </div>

        <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
            <label asp-for="Product.Origin" class="form-label"></label>
            <input asp-for="Product.Origin" class="form-control" />
        </div>

        <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
            <label asp-for="Product.CategoryId" class="form-label"></label>
            <select asp-for="Product.CategoryId" asp-items="Model.CategoryList" class="form-select"></select>
        </div>

        <div style="text-align: center;">
            <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
                Create product
            </button>
        </div>
    </form>
</div>


