@page
@model WineWarehouseManagementSystem.Pages.ProductPages.ExportProductLineModel
@{
    Layout = "_ManagerLayout";
    int? accountId = HttpContext.Session.GetInt32("accountId");
    int? roleId = HttpContext.Session.GetInt32("roleId");
    if (accountId == null || roleId != 2)
    {
        TempData["ErrorMessage"] = "This function is for manager only";
        Response.Redirect("/Error");
    }
}
<h1>Export ProductLine for Export Id :@Model.ExportId</h1>
@if (TempData["Message"] != null)
{
    <h2 style="text-align: center; color: green;">@TempData["Message"]</h2>
}
<form method="post" style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 8px; background-color: #f9f9f9;">
    <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
        <label asp-for="ProductLine.ProductId" style="margin-bottom: 5px; font-weight: bold;">Product</label>
        <select asp-for="ProductLine.ProductId" asp-items="Model.ProductList"
                style="padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
        </select>
    </div>

    <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
        <label asp-for="ProductLine.ProductYear" style="margin-bottom: 5px; font-weight: bold;">Year</label>
        <input asp-for="ProductLine.ProductYear" required
               style="padding: 8px; border: 1px solid #ccc; border-radius: 4px;" />
        </select>
    </div>


    <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
        <label asp-for="Quantity" style="margin-bottom: 5px; font-weight: bold;">Quantity</label>
        <input asp-for="Quantity" required
               style="padding: 8px; border: 1px solid #ccc; border-radius: 4px;" />
    </div>

    <div style="text-align: center;">
        <button type="submit"
                style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;">
            Update product line and export detail
        </button>
    </div>
</form>

