@page
@model WineWarehouseManagementSystem.Pages.AdminPageModel
@{
    Layout = "_AdminLayout";
    int? accountId = HttpContext.Session.GetInt32("accountId");
    int? roleId = HttpContext.Session.GetInt32("roleId");
    if (accountId == null || roleId != 3)
    {
        TempData["ErrorMessage"] = "This function is for admin only";
        Response.Redirect("/Error");
    }
}

<h1>Admin page ne</h1>