@page
@model ErrorModel
@{
    Layout = null;
    ViewData["Title"] = "Error";

}

<style>
    .error-page {
        text-align: center;
        color: #ff6b6b;
        margin-top: 50px;
    }

        .error-page h1 {
            font-size: 3em;
        }

        .error-page p {
            font-size: 1.2em;
            color: #333;
        }
</style>

<div class="error-page">
    <h1 class="text-danger">WARNING</h1>
    <h1 class="text-danger">Error!</h1>
    <h2>You do not have permission to do this function.</h2>
    @if(TempData["ErrorMessage"] != null)
    {
        <h2>@TempData["ErrorMessage"]</h2>
    }
    @if (Model.ShowRequestId)
    {
        <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
    }
    <h3>Development Mode</h3>
    <p>Swapping to the <strong>Development</strong> environment displays detailed information about the error.</p>
    <p><strong>The Development environment shouldn't be enabled for deployed applications.</strong></p>
</div>

