@page
@model StaffPageModel
@{
    Layout = "_ManagerLayout";
    Layout = "_StaffLayout";
    int? accountId = HttpContext.Session.GetInt32("accountId");
    int? roleId = HttpContext.Session.GetInt32("roleId");
    if (accountId == null || roleId != 1)
    {
        TempData["ErrorMessage"] = "This function is for staff only";
        Response.Redirect("/Error");
    }
}

<h1>Staff page </h1>
